@import url('./variables.css');

/* --- Taskbar Components --- */
.taskbar-item, .app-item, .system-item {
    display: flex;
    align-items: center;
    background: var(--button-color);
    color: var(--text-primary);
    border: var(--button-border);
    border-radius: 4px;
    padding: 4px 6px;
    height: calc(var(--taskbar-height) - 8px);
    transition: var(--transition);
    user-select: none;
    gap: 6px;
    font-size: .8em;
    cursor: auto;
}

.taskbar-item:hover {
    background: var(--hover-bg);
    box-shadow: var(--shadow-soft);
}

.taskbar-item:active {
    background: var(--active-bg);
    box-shadow: var(--shadow-inset);
    scale: 0.95;
}

.start-menu-button {
    font-size: 1em;
}

.app-group {
    flex: 1;
    display: flex;
    gap: 4px;
}

.divider {
    width: 3px;
    height: 22px;
    background: var(--divider-bg);
    border: var(--button-border);
    border-radius: var(--divider-radius);
    margin: 0 3px;
}

.taskbar-item img, .system-icon {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    text-shadow: var(--text-shadow);
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.25));
}

/* --- Start Menu --- */
.start-menu {
    position: absolute;
    bottom: var(--taskbar-height);
    left: 6px;
    min-width: 250px;
    height: 400px;
    background: var(--window-bg);
    border: var(--border);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    box-shadow: var(--shadow-soft);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: var(--blur);
    user-select: none;
    color: var(--text-primary);
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.start-menu.show {
    opacity: 1;
    pointer-events: auto;
}

.start-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.start-menu-header h2 {
    margin: 0;
    font-size: 1.2em;
    text-shadow: var(--text-shadow);
}

.start-menu-header img {
    width: 42px;
    height: 42px;
    border-radius: 25%;
    background: #333;
}

.start-menu-item-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.start-menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 6px 8px;
    overflow: hidden;
    border-radius: 4px;
    text-shadow: var(--text-shadow);
    transition: transform 0.2s ease;
    color: var(--text-primary);
    text-decoration: none;
}

.start-menu-item:active {
    transform: scale(0.95);
}

.start-menu-item:active::before {
    opacity: 1;
    background: linear-gradient(22deg,rgba(255,255,255,0.4),rgba(255,255,255,0.03),rgba(255,255,255,0.0));
}

.start-menu-item:hover::before {
    opacity: 0.5;
}

.start-menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(22deg,rgba(255,255,255,0.1),rgba(255,255,255,0.015),rgba(255,255,255,0.0));
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.start-menu-item img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.start-menu-item span {
    display: inline-block;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
}

/* --- Desktop Icons --- */
#desktop-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 98px);
    grid-auto-rows: 116px;
    gap: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-content: start;
    padding: 8px;
}

.grid-cell {
    width: 90px;
    height: 108px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-cell.occupied {
    border-radius: 4px;
}

#desktop-icons a.open-window {
    display: inline-block;
    max-width: 90px;
    height: 108px;
    text-decoration: none;
    cursor: grab;
    width: 90px;
    margin: 0;
}

#desktop-icons a.open-window:active {
    cursor: grabbing;
}

.icon {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: 8px;
    font-size: 0.825em;
    text-align: center;
    color: var(--text-primary);
    user-select: none;
    text-overflow: ellipsis;
    transition: var(--transition);
    background: none;
    width: 90px;
    box-sizing: border-box;
}

.icon img {
    display: flex;
    flex: 1;
    margin: 0 auto;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    user-select: none;
    pointer-events: none;
}

.icon span {
    margin-top: 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 3.2em;
    text-shadow: var(--text-shadow);
    border-radius: 4px;
    padding: 5px 0;
    transition: var(--transition);
}

.icon:active {
    scale: 0.95;
}

.icon:active span {
    background: rgba(0,0,0,0.3);
}

#desktop-icons .icon.dragging {
    opacity: 0.5;
    z-index: 10000;
    box-shadow: 0 0 10px #0008;
}

#desktop-icons .icon.placeholder {
    border: 2px dashed #fff8;
    background: rgba(255,255,255,0.07);
    opacity: 0.7;
    min-width: 90px;
    min-height: 108px;
}

/* --- Windows --- */
.window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 640px;
    height: 520px;
    backdrop-filter: var(--blur);
    z-index: 1;
    box-shadow: var(--shadow-soft);
    border-radius: 4px;
    box-sizing: border-box;
}

.window.maximized {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
}

.window.maximized .window-title-bar {
    border-radius: 0 !important;
}

.window-title-bar {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background: linear-gradient(65deg,rgba(0,0,0,0.8),rgba(0,0,0,0.6));
    border-bottom: var(--border);
    border-radius: 4px 4px 0 0;
    color: var(--text-primary);
    font-size: .875em;
    user-select: none;
    height: 32px;
}

.window-title {
    flex: 1;
    text-shadow: var(--text-shadow);
}

.window-title img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
}

.window-title-button {
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 3px;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    border: var(--button-border);
    border-radius: 4px;
    background: var(--button-color);
    transition: var(--transition);
    vertical-align: bottom;
}

.window-title-button img {
    height: 12px;
    width: 12px;
    pointer-events: none;
}

.window-title-button:hover {
    background: var(--hover-bg);
    box-shadow: var(--shadow-soft);
}

.window-title-button:active {
    background: var(--active-bg);
    box-shadow: var(--shadow-inset);
    transform: scale(0.95);
}

.window-content {
    height: calc(100% - 32px);
    padding: 8px 20px;
    color: var(--text-primary);
    font-size: 0.9em;
    line-height: 1.4em;
    border: var(--border);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: var(--window-bg);
    overflow: auto;
}

/* --- Window Resize Handles --- */
.resize-handle {
    background: transparent;
    position: absolute;
    z-index: 1001;
}

.resize-right {
    right: 0; 
    top: 0; 
    width: 8px; 
    height: 100%; 
    cursor: ew-resize;
}

.resize-bottom {
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 8px; 
    cursor: ns-resize;
}

.resize-corner {
    right: 0; 
    bottom: 0; 
    width: 16px; 
    height: 16px; 
    cursor: nwse-resize;
}

#drag-guard {
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100vw; 
    height: 100vh;
    z-index: 9999;
    background: transparent;
    cursor: default;
}

.window.active-window {
    outline: none;
    box-shadow: none;
    z-index: inherit;
}

/* --- Grid Highlight --- */
#desktop-icons .grid-highlight {
    position: absolute;
    width: 90px;
    height: 108px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 9999;
    display: none;
}

#desktop-icons .grid-highlight.active {
    display: block;
}

/* Icon Glow */

.icon img,
.start-menu-item img,
.taskbar-item img,
.window-title img,
.window-title-bar img,
.window img,
button img,
a img {
    filter: 
        drop-shadow(1px 1px 0px var(--theme-icons))
        drop-shadow(-1px -1px 0px var(--theme-icons))
        drop-shadow(1px -1px 0px var(--theme-icons))
        drop-shadow(-1px 1px 0px var(--theme-icons));
}