@import url('./variables.css');

#desktop-icons .grid-highlight {
    position: absolute;
    width: 90px;
    height: 108px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 9999;
    display: none;
}

#desktop-icons .grid-highlight.active {
    display: block;
}
