@import url('./variables.css');

/* --- Start Menu --- */
.start-menu {
    position: absolute;
    bottom: var(--taskbar-height);
    left: 6px;
    min-width: 250px;
    height: 400px;
    background: var(--window-bg);
    border: var(--border);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    box-shadow: var(--shadow-soft);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: var(--blur);
    user-select: none;
    color: var(--text-primary);
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.start-menu.show {
    opacity: 1;
    pointer-events: auto;
}

.start-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.start-menu-header h2 {
    margin: 0;
    font-size: 1.2em;
    text-shadow: var(--text-shadow);
}

.start-menu-header img {
    width: 42px;
    height: 42px;
    border-radius: 25%;
    background: #333;
}

.start-menu-item-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.start-menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 6px 8px;
    overflow: hidden;
    border-radius: 4px;
    text-shadow: var(--text-shadow);
    transition: transform 0.2s ease;
    color: var(--text-primary);
    text-decoration: none;
}

.start-menu-item:active {
    transform: scale(0.95);
}

.start-menu-item:active::before {
    opacity: 1;
    background: linear-gradient(22deg,rgba(255,255,255,0.4),rgba(255,255,255,0.03),rgba(255,255,255,0.0));
}

.start-menu-item:hover::before {
    opacity: 0.5;
}

.start-menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(22deg,rgba(255,255,255,0.1),rgba(255,255,255,0.015),rgba(255,255,255,0.0));
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.start-menu-item img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.start-menu-item span {
    display: inline-block;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
}
