@import url('./variables.css');

.taskbar-item, .app-item, .system-item {
    display: flex;
    align-items: center;
    background: var(--button-color);
    color: var(--text-primary);
    border: var(--button-border);
    border-radius: 4px;
    padding: 4px 6px;
    height: calc(var(--taskbar-height) - 8px);
    transition: var(--transition);
    user-select: none;
    gap: 6px;
    font-size: .8em;
    cursor: auto;
}

.taskbar-item:hover {
    background: var(--hover-bg);
    box-shadow: var(--shadow-soft);
}

.taskbar-item:active {
    background: var(--active-bg);
    box-shadow: var(--shadow-inset);
    scale: 0.95;
}

.start-menu-button {
    font-size: 1em;
}

.app-group {
    flex: 1;
    display: flex;
    gap: 4px;
}

.divider {
    width: 3px;
    height: 22px;
    background: var(--divider-bg);
    border: var(--button-border);
    border-radius: var(--divider-radius);
    margin: 0 3px;
}

.taskbar-item img, .system-icon {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    text-shadow: var(--text-shadow);
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.25));
}
