@import url('./variables.css');

/* --- Window --- */
.window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 440px;
    height: 300px;
    backdrop-filter: var(--blur);
    z-index: 1;
    box-shadow: var(--shadow-soft);
    border-radius: 4px;
    box-sizing: border-box;
}

.window.maximized {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
}

.window.maximized .window-title-bar {
    border-radius: 0 !important;
}

.window-title-bar {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background: linear-gradient(65deg,rgba(0,0,0,0.8),rgba(0,0,0,0.6));
    border-bottom: var(--border);
    border-radius: 4px 4px 0 0;
    color: var(--text-primary);
    font-size: .875em;
    user-select: none;
    height: 32px;
    
}

.window-title {
    flex: 1;
    text-shadow: var(--text-shadow);
}

.window-title img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
}

.window-title-button {
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 3px;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    border: var(--button-border);
    border-radius: 4px;
    background: var(--button-color);
    transition: var(--transition);
    vertical-align: bottom;
    
}

.window-title-button img {
    height: 12px;
    width: 12px;
    pointer-events: none;
}

.window-title-button:hover {
    background: var(--hover-bg);
    box-shadow: var(--shadow-soft);
}

.window-title-button:active {
    background: var(--active-bg);
    box-shadow: var(--shadow-inset);
    transform: scale(0.95);
}

.window-content {
    height: calc(100% - 32px);
    padding: 8px 20px;
    color: var(--text-primary);
    font-size: 0.9em;
    line-height: 1.4em;
    border: var(--border);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: var(--window-bg);
    overflow: auto;
}

/* Resize handles for window resizing */
.resize-handle {
  background: transparent;
  position: absolute;
  z-index: 1001;
}
.resize-right {
  right: 0; top: 0; width: 8px; height: 100%; cursor: ew-resize;
}
.resize-bottom {
  left: 0; bottom: 0; width: 100%; height: 8px; cursor: ns-resize;
}
.resize-corner {
  right: 0; bottom: 0; width: 16px; height: 16px; cursor: nwse-resize;
}
#drag-guard {
  position: fixed;
  left: 0; top: 0; width: 100vw; height: 100vh;
  z-index: 9999;
  background: transparent;
  cursor: default;
}

.window.active-window {
  outline: none;
  box-shadow: none;
  z-index: inherit;
}
