<a href="#" class="open-window" data-title="My Computer" data-content="../apps/computer.html">
    <div class="icon">
        <img src="https://img.icons8.com/?size=100&id=iCwcOoy8tOGw&format=png&color=000000">
        <span>My Computer</span>
    </div>
</a>
<div class="icon">
    <img src="https://img.icons8.com/?size=100&id=c2AXPLZ3iVEU&format=png&color=000000">
    <span>My Documents</span>
</div>
<div class="icon">
    <img src="https://img.icons8.com/?size=100&id=JWpT8cAn8G0V&format=png&color=000000">
    <span>My Notes</span>
</div>
