<div class="taskbar">
    <div class="taskbar-item start-menu-button">
        <img src="https://img.icons8.com/?size=100&id=bbz76sokMIrd&format=png&color=000000">
        <span>Start</span>
    </div>

    <div class="divider"></div>

    <div class="app-group">
        <div class="taskbar-item app-item">
            <img src="https://img.icons8.com/?size=100&id=TBZPt8cpsUdF&format=png&color=000000">
            <span>App Title</span>
        </div>
        <div class="taskbar-item app-item">
            <img src="https://img.icons8.com/?size=100&id=A6NzpssBf9Xg&format=png&color=000000">
            <span>App Title</span>
        </div>
        <div class="taskbar-item app-item">
            <img src="https://img.icons8.com/?size=100&id=a2NqBaHEmUuh&format=png&color=000000">
            <span>Another App</span>
        </div>
    </div>

    <div class="divider"></div>

    <a href="#" class="open-window" data-title="My Computer" data-content="../apps/settings.html"><div class="taskbar-item system-item">
        <img src="https://img.icons8.com/?size=100&id=PUULuXvUfB6u&format=png&color=000000">
    </div></a>
    <div class="taskbar-item system-item">
        <img src="https://img.icons8.com/?size=100&id=5heQc9t9AF0D&format=png&color=000000">
        <span id="clock"></span>
    </div>
</div>