<div class="taskbar">
  <div class="taskbar-item start-menu-button">
    <img src="https://img.icons8.com/?size=100&id=bbz76sokMIrd&format=png&color=000000">
    <span>Start</span>
  </div>

  <div class="divider"></div>

  <div class="app-group taskbar-items"></div>

  <div class="divider"></div>

  <!-- Settings Button -->
  <a href="#" class="open-window" data-title="Settings" data-content="/apps/settings/index.html" data-icon="https://img.icons8.com/?size=100&id=PUULuXvUfB6u&format=png&color=000000">
    <div class="taskbar-item system-item">
      <img src="https://img.icons8.com/?size=100&id=PUULuXvUfB6u&format=png&color=000000">
    </div>
  </a>

  <!-- Flush Button -->
  <div class="taskbar-item system-item" id="flush-storage-btn" title="Flush Storage">
    <img src="https://img.icons8.com/?size=100&id=sYUlQ4GD0OPJ&format=png&color=000000">
  </div>

  <!-- Clock -->
  <div class="taskbar-item system-item">
    <img src="https://img.icons8.com/?size=100&id=5heQc9t9AF0D&format=png&color=000000">
    <span id="clock"></span>
  </div>
</div>