<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>WarmbOS</title>
  <meta name="description" content="WarmbOS is a sleek yet cozy desktop environment right within your browser." />
  <link rel="stylesheet" href="{{ URL_PREFIX }}/static/styles.css">
  <link rel="icon" type="image/ico" sizes="32x32" href="{{ URL_PREFIX }}/static/favicon.ico">
</head>
<body style="background: url('{{ URL_PREFIX }}/static/images/os-bg.png') no-repeat center center fixed; background-size: cover;">
  <div id="window-container"></div>

  <div class="taskbar">
    <button id="main-menu-toggle" class="main-menu-button"><img src="{{ URL_PREFIX }}/static/images/warmbos.png" alt="WarmbOS"></button>
    <div id="taskbar-buttons"></div>
    <div class="taskbar-unique" id="taskbar-unique-buttons"></div><button id="clearLocalStorageBtn" class=".taskbar button ">🚽</button>
      
  </div>

  <div id="main-menu" class="main-menu"></div>
  
  <script>
    const URL_PREFIX = "{{ URL_PREFIX }}";
  </script>
  <script type="module" src="{{ URL_PREFIX }}/static/js/config-loader.js"></script>
  <script type="module" src="{{ URL_PREFIX }}/static/js/window-manager.js"></script>  
  <script type="module" src="{{ URL_PREFIX }}/static/js/script.js"></script>
</body>
</html>